spotify_hebdoworkflow.json
{
  "name": "Spotify HEBDO Weekly",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "weekDays": [5],
              "hours": [7],
              "minutes": [0]
            }
          ]
        }
      },
      "name": "Cron - Friday 7am",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 250]
    },
    {
      "parameters": {
        "filePath": "/Users/justinmartin/spotify_release_bot/artists.json"
      },
      "name": "Read Artists JSON",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [500, 250]
    },
    {
      "parameters": {
        "functionCode": "const artists = JSON.parse(items[0].binary.data.toString());\nreturn artists.map(a => ({ json: { artist: a.artist, id: a.id } }));"
      },
      "name": "Function - Parse Artists",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 250]
    },
    {
      "parameters": {
        "functionCode": "const lastWeek = new Date();\nlastWeek.setDate(lastWeek.getDate() - 7);\nconst newTracksSet = new Set();\nconst listing = [];\nconst errors = [];\n\nfor(const item of items){\n  const artist = item.json;\n  try{\n    const albums = await $httpRequest({\n      method: 'GET',\n      url: `https://api.spotify.com/v1/artists/${artist.id}/albums?include_groups=album,single&limit=50`,\n      headers: { 'Authorization': `Bearer ${$credentials.spotifyOAuth.accessToken}` }\n    });\n    for(const album of albums.items){\n      const releaseDate = new Date(album.release_date);\n      if(releaseDate >= lastWeek){\n        const tracks = await $httpRequest({\n          method: 'GET',\n          url: `https://api.spotify.com/v1/albums/${album.id}/tracks`,\n          headers: { 'Authorization': `Bearer ${$credentials.spotifyOAuth.accessToken}` }\n        });\n        for(const track of tracks.items){\n          if(!newTracksSet.has(track.uri)){\n            newTracksSet.add(track.uri);\n            if(album.album_type === 'album'){\n              listing.push(`${artist.artist} - ${track.name} [${album.name}]`);\n            } else {\n              listing.push(`${artist.artist} - ${track.name}`);\n            }\n          }\n        }\n      }\n    }\n  }catch(e){\n    errors.push(`⚠️ Erreur pour ${artist.artist}: ${e.message}`);\n  }\n}\nreturn [{ json: { newTracks: Array.from(newTracksSet), listing, errors } }];"
      },
      "name": "Function - Fetch Tracks",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 250]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.spotify.com/v1/users/{{ $credentials.spotifyOAuth.userId }}/playlists",
        "jsonParameters": true,
        "bodyParametersJson": "{ \"name\": \"HEBDO - {{ $now.format('DD/MM') }}\", \"public\": true }",
        "responseFormat": "json"
      },
      "name": "HTTP Request - Create Playlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.spotify.com/v1/playlists/{{ $json.id }}/tracks",
        "jsonParameters": true,
        "bodyParametersJson": "{ \"uris\": {{ $json.newTracks }} }",
        "responseFormat": "json"
      },
      "name": "HTTP Request - Add Tracks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1500, 150]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { \n  subject: `Sorties de la Semaine - WK${$now.format('WW')}`,\n  body: `🎵 Nouveaux morceaux cette semaine :\\n\\n${$json.listing.join('\\n')}\\n\\n${$json.errors.length ? '⚠️ Erreurs rencontrées :\\n' + $json.errors.join('\\n') : ''}`\n} }];"
      },
      "name": "Function - Prepare Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 350]
    },
    {
      "parameters": {
        "fromEmail": "justin.martin@hec.edu",
        "toEmail": "justin.martin@hec.edu",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}",
        "smtp": {
          "host": "smtp.office365.com",
          "port": 587,
          "secure": false,
          "user": "justin.martin@hec.edu",
          "password": "1685@Aigoual"
        }
      },
      "name": "Email - Outlook",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1500, 350]
    }
  ],
  "connections": {
    "Cron - Friday 7am": {
      "main": [
        [
          {
            "node": "Read Artists JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Artists JSON": {
      "main": [
        [
          {
            "node": "Function - Parse Artists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Parse Artists": {
      "main": [
        [
          {
            "node": "Function - Fetch Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Fetch Tracks": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Playlist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function - Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Playlist": {
      "main": [
        [
          {
            "node": "HTTP Request - Add Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Prepare Email": {
      "main": [
        [
          {
            "node": "Email - Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
